@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: rgba(45, 21, 0, 1);
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgba(45, 21, 0, 1);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    color: #012B3A;
    border-color: white;
    background-color: transparent;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-color: #012B3A;
    ;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.site-logo {
    max-height: 50px;
    margin-right: 20px;
    position: relative;
    z-index: 1000;
}

.nav-link {
    color: rgba(45, 21, 0, 1) !important;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-brand h3 {
    color: rgba(45, 21, 0, 1) !important;
    padding-top: 0.3125rem;
}

.page-footer {
    background-image: url(./assets/footer.webp);
    background-size: cover;
    color: rgba(45, 21, 0, 1) !important;
}

footer.page-footer a {
    color: rgba(45, 21, 0, 1);
}

.font-weight-bold {
    font-weight: 700;
}


/* BLOGS STYLING */
.blogs-container{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.blogs h1{
    margin: 1rem;
    font-weight: 500;
    font-size: 52px;

}
.blog-card{
    display: flex;
    /* border: 2px solid #012B3A; */
    position: relative;
    height: 300px;
    width: 40%;
    margin: 1rem;
    border-radius: 10px;
    box-shadow:  2px 2px 1px #d9d9d9;
                
} 
.blog-card .blog-img {
    width: 35%;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border-right: 2px solid #012B3A; */
    margin-right: .2rem;
    

}
.blog-card .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.blog-card .blog-content{
    padding: 10px;
    width: 55%;
    height: 100%;
}
.blog-card .blog-content h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.blog-card .blog-content p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.blog-card .blog-content .blog-btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #012B3A;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
    transition: all 0.3s ease;
    position: relative;
    top: 15%;
}
.blog-card .blog-content .blog-btn:hover{
    background-color: #fff;
    color: #012B3A;
    border: 1px solid #012B3A;

}

/* Carousel Feature Styling */
/* Styling for Carousels */
.carousels{
    position: relative;
    width: 100%;
    height: 95vh;
    border: 2px solid #000;
    transition:  0.5s ease-in-out;
}

.carousels .feature-text{
    position: absolute;
    left: 10%;
    top: 20%; 
    max-width: 400px;
    font-size: 80px;
    z-index: 999; 
    color: aliceblue;
}
.carousels img{
    width: 100%;
    height:95vh;
    position: absolute;
    object-fit: cover;
    /* display: block; */
}

.carousels #right,#left{
    position: absolute;
    z-index: 999;
    top: 45%;
    
    margin: 2vw;
    
}
.carousels  i{
    font-size: 25px;
    padding: 10px;
    opacity: 1.3;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100%;
    padding: 20px;
    transition:  0.5s ease;
    background-color: #000;
    transition: 0.3s ease-out;
}
.carousels  i:hover{
    background-color: rgb(226, 252, 196);
    color: rgb(107, 107, 107);
   scale: 1.1;
}
.carousels  #right{
    right: 0;
    
}

